[문항1] [배점:50]
멜론차트 Top100(https://www.melon.com/chart/)을 크롤링을 하여

1. 순위, 제목, 아티스트, 앨범, 앨범이미지 필드를 데이터프레임으로 만드세요.[20]

2. 위에서 만든 데이터프레임을 멜론_23051211.csv 파일에 저장하세요.[10]   파일이름은 반드시 연월일시를 각각 2자리씩 표시하도록 해야 합니다.

3. 웹 서버를 만들고 localhost:5000/melon을 주소창에 입력하면 멜론차트를
   크롤링한 결과를 표로 보여주는 코드를 작성하고
   결과 웹화면을 스캔해서 답안지에 포함하세요.[20]

In [1]:
import requests
from urllib.parse import quote  # 여기서는 필요없긴 함
import pandas as pd # 결과는 DF로 볼 것이므로
from bs4 import BeautifulSoup

In [2]:
# https://www.genie.co.kr/chart/top200
url = 'https://www.melon.com/chart/'
result = requests.get(url)
result.text

# User-Agent(Crome)
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)'}
result = requests.get(url, headers=header)
soup = BeautifulSoup(result.text, 'html.parser')

In [3]:
# lst 전부다 구하기
# trs = soup.find_all('tr')
trs = soup.select_one('tbody').find_all('tr')
len(trs)

100

In [4]:
tr =trs[0]

# rank
rank = tr.select_one('.rank').get_text()
rank

'1'

In [5]:
title = tr.select_one('.ellipsis.rank01').get_text().strip()
title

'I AM'

In [6]:
# artist = tr.select_one('.ellipsis.rank02').get_text().strip()
artist = tr.select_one('.ellipsis.rank02').find('a').get_text().strip()
artist

'IVE (아이브)'

In [7]:
# album
album = tr.select_one('.ellipsis.rank03').find('a').get_text().strip()
album

"I've IVE"

In [8]:
img = tr.select_one('.wrap > a > img')['src']
img
#lst50 > td:nth-child(4) > div > a > img

'https://cdnimg.melon.co.kr/cm2/album/images/112/11/297/11211297_20230410151046_500.jpg/melon/resize/120/quality/80/optimize'

In [9]:
line=[]
for tr in trs:
    rank = tr.select_one('.rank').get_text()
    img = tr.select_one('.wrap > a > img')['src']
    title = tr.select_one('.ellipsis.rank01').get_text().strip()
    artist = tr.select_one('.ellipsis.rank02').find('a').get_text().strip()
    album = tr.select_one('.ellipsis.rank03').find('a').get_text().strip()
    line.append({'rank':rank, 'img':img, 'title':title, 'artist': artist, 'album':album})

In [14]:
df = pd.DataFrame(line)
df.head()

,rank,img,title,artist,album
0,1,https://cdnimg.melon.co.kr/cm2/album/images/11...,I AM,IVE (아이브),I've IVE
1,2,https://cdnimg.melon.co.kr/cm2/album/images/11...,UNFORGIVEN (feat. Nile Rodgers),LE SSERAFIM (르세라핌),UNFORGIVEN
2,3,https://cdnimg.melon.co.kr/cm2/album/images/11...,Kitsch,IVE (아이브),I've IVE
3,4,https://cdnimg.melon.co.kr/cm2/album/images/11...,손오공,세븐틴 (SEVENTEEN),SEVENTEEN 10th Mini Album ‘FML'
4,5,https://cdnimg.melon.co.kr/cm2/album/images/11...,Spicy,aespa,MY WORLD - The 3rd Mini Album

In [11]:
# 2. 위에서 만든 데이터프레임을 멜론_23051211.csv 파일에 저장하세요.[10]
# 파일이름은 반드시 연월일시를 각각 2자리씩 표시하도록 해야 합니다.

from datetime import datetime
now = datetime.now()
ymd = now.strftime('%Y%m%d')    # ymd = f'{now.year}{now.month:02d}{now.day:02d}'
hh = now.strftime('%H')
ymd, hh


df.to_csv(f'data/{ymd}{hh}멜론차트.csv', index=False)

In [12]:
# 3. 웹 서버를 만들고 localhost:5000/melon을 주소창에 입력하면 멜론차트를
#    크롤링한 결과를 표로 보여주는 코드를 작성하고
#    결과 웹화면을 스캔해서 답안지에 포함하세요.[20]