### 3. 고급 인덱싱
    - : 넘파이스타일로 인덱싱 가능

In [1]:
import pandas as pd
import numpy as np

DF에서는 '열' 중심이었다면, 여기에서는 다시 '행' 중심으로 바뀜
loc 인덱서: df.loc[행인덱스, 열인덱스]  
iloc인덱서: df.iloc[행숫자, 열숫자]

### 3.1 loc인덱서
    - 인수가 한개면 행을 선택함

In [2]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

In [3]:
df.loc['y']     # 행 값 1개 지정 -> Series로 출력

A    14
B    15
C    16
D    17
Name: y, dtype: int32

In [7]:
# 슬라이싱
df['x':'y'] # 일반적 방법
df.loc['x':'y'] # loc로도 가능하긴 함(참고만..)

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [8]:
df.A >15

x    False
y    False
z     True
Name: A, dtype: bool

In [9]:
df[df.A > 15]

    A   B   C   D
z  18  19  20  21


    - 인수가 두개인 경우

In [10]:
# df에서 값 15 찾기
df.loc['y', 'B']    # [행인덱스, 열인덱스]

15

In [12]:
df.loc['y':'z', 'B':'C']

    B   C
y  15  16
z  19  20

### 3.2 iloc인덱서
    - 숫자를 사용한다.

In [13]:
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

In [14]:
df.iloc[1]  # 'y'행, 인덱스 값은 1

A    14
B    15
C    16
D    17
Name: y, dtype: int32

In [15]:
df.iloc[:2] # 0~1 행 출력(숫자 인덱스니까)

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [16]:
df.iloc[1, 1]

15

```
연습 문제 4.3.1

- 모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.
- 10가지 이상의 방법으로 특정한 행과 열을 선택한다. -> 가운데값 출력하기!

In [21]:
df = pd.DataFrame(np.arange(25).reshape(5, 5),
                  index=list('xwxyz'), columns=list('ABCDE'))
df

    A   B   C   D   E
x   0   1   2   3   4
w   5   6   7   8   9
x  10  11  12  13  14
y  15  16  17  18  19
z  20  21  22  23  24

In [35]:
# 가운데값인 12 출력하기 여러방법
df['C']['x']
df.C['x'], df.C.x, df['C'].x, df.C[2], df['C'][2]  # 대소문자 구분!

(x     2
 x    12
 Name: C, dtype: int32,
 x     2
 x    12
 Name: C, dtype: int32,
 x     2
 x    12
 Name: C, dtype: int32,
 12,
 12)

In [39]:
# 가운데값인 12 출력하기 여러방법
df.loc['x','C'], df.loc['x']['C'], df.loc['x'].C, df.loc['x'][2]

(x     2
 x    12
 Name: C, dtype: int32,
 x     2
 x    12
 Name: C, dtype: int32,
 x     2
 x    12
 Name: C, dtype: int32)

In [ ]:
# 가운데값인 12 출력하기 여러방법
df.iloc[2,2], df.iloc[2][2], df.iloc[2]['C'], df.iloc[2].C

(12, 12, 12, 12)

In [40]:
# 가운데값인 12 출력하기 여러방법
df[2:3]['C'][0]

12