### 8. 시계열 자료 다루기

In [2]:
import pandas as pd
import numpy as np

- Datetimeindex
-               판다스에서 시계열 자료를 생성하려면 인덱스를 DatetimeIndex 자료형으로 만들어야 한다. DatetimeIndex 는 특정한 순간에 기록된 타임스탬프(timestamp) 형식의 시계열 자료를 다루기 위한 인덱스이다. 타임스탬프 인덱스의 라벨값이 반드시 일정한 간격일 필요는 없다.

In [6]:
date_str = ['2023, 4, 17']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2023-04-17'], dtype='datetime64[ns]', freq=None)

In [14]:
# 
idx = pd.to_datetime(['2023-04-17'])
idx

DatetimeIndex(['2023-04-17'], dtype='datetime64[ns]', freq=None)

In [15]:
date_str = ['2023-04-17','2023-04-18','2023-04-19','2023-04-20','2023-04-21']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21'],
              dtype='datetime64[ns]', freq=None)

In [19]:
# 날짜를 인덱스 값으로
df = pd.DataFrame(np.random.randint(69, 100, 5),
                    columns=['score'], index = idx)
df

            score
2023-04-17     71
2023-04-18     78
2023-04-19     95
2023-04-20     71
2023-04-21     88

In [20]:
pd.date_range('2023.04.01', '2023.04.30')   # 시작일자, 종료일자

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [21]:
pd.date_range('4/1/23', periods=30)

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [24]:
pd.date_range('040123', '043023', freq='B') # Buisiness day(평일)

DatetimeIndex(['2023-04-03', '2023-04-04', '2023-04-05', '2023-04-06',
               '2023-04-07', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-17', '2023-04-18',
               '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28'],
              dtype='datetime64[ns]', freq='B')

In [25]:
# 1년 중 각 월의 시작일(공휴일주말 x)
pd.date_range('2023-1-1','2023-12-31', freq='BMS')

DatetimeIndex(['2023-01-02', '2023-02-01', '2023-03-01', '2023-04-03',
               '2023-05-01', '2023-06-01', '2023-07-03', '2023-08-01',
               '2023-09-01', '2023-10-02', '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', freq='BMS')

- resample
    -   treq의 인수값 https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects

In [26]:
ts = pd.DataFrame(np.random.randint(100, 1000, 100),
                  index=pd.date_range('20230101', periods=100))
ts.head()

              0
2023-01-01  800
2023-01-02  337
2023-01-03  619
2023-01-04  118
2023-01-05  412

In [27]:
ts.resample('M').first()

              0
2023-01-31  800
2023-02-28  284
2023-03-31  417
2023-04-30  543

In [28]:
ts.resample('W').first()    # 매주 일요일()

              0
2023-01-01  800
2023-01-08  337
2023-01-15  795
2023-01-22  408
2023-01-29  388
2023-02-05  702
2023-02-12  812
2023-02-19  124
2023-02-26  284
2023-03-05  964
2023-03-12  275
2023-03-19  703
2023-03-26  299
2023-04-02  737
2023-04-09  118
2023-04-16  958

In [ ]:
d =