In [21]:
import pandas as pd
import numpy as np

In [22]:
# 2-1) 법정동코드 전체자료.txt를 파일로부터 읽어서 데이터프레임으로 만드세요.
df = pd.read_csv('data/법정동코드 전체자료.txt', encoding='euc=kr', sep='\t')


# 2-2) 현재 존재하는 경기도 수원시 데이터만 추출하세요.
df[df.폐지여부 == '존재'] 
df[df.법정동명.str.contains('경기도 수원시')]

           법정동코드             법정동명 폐지여부
4819  4111000000          경기도 수원시   존재
4820  4111000100      경기도 수원시 반정동   폐지
4821  4111010100    경기도 수원시 팔달로1가   폐지
4822  4111010200    경기도 수원시 팔달로2가   폐지
4823  4111010300      경기도 수원시 남창동   폐지
...          ...              ...  ...
5023  4111710300  경기도 수원시 영통구 이의동   존재
5024  4111710400   경기도 수원시 영통구 하동   존재
5025  4111710500  경기도 수원시 영통구 영통동   존재
5026  4111710600   경기도 수원시 영통구 신동   존재
5027  4111710700  경기도 수원시 영통구 망포동   존재

[209 rows x 3 columns]

In [23]:
# 2-3) 수원시 장안구에 있는 동의 이름을 추출하세요.
df[df.법정동명.str.contains('장안구') & df.법정동명.str.contains('동')]
df

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
...           ...                   ...  ...
46323  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46324  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46325  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46326  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46327  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[46328 rows x 3 columns]

#### 2-3)오답
df[(df.법정동명.str.contains('수원시 장안구')) & ~(df.법정동명.str =='경기도 수원시 장안구')]
df.법정동명.str[-3:].head(20)  # 동명이 세글자가 아닌 경우 있을 수 있음

In [24]:
# 2-3) 반복문으로 풀기
dong_list = []
for d in df.법정동명:
    dong = d.split()[-1].strip()
    dong_list.append(d)
dong_list

['서울특별시',
 '서울특별시 종로구',
 '서울특별시 종로구 청운동',
 '서울특별시 종로구 신교동',
 '서울특별시 종로구 궁정동',
 '서울특별시 종로구 효자동',
 '서울특별시 종로구 창성동',
 '서울특별시 종로구 통의동',
 '서울특별시 종로구 적선동',
 '서울특별시 종로구 통인동',
 '서울특별시 종로구 누상동',
 '서울특별시 종로구 누하동',
 '서울특별시 종로구 옥인동',
 '서울특별시 종로구 체부동',
 '서울특별시 종로구 필운동',
 '서울특별시 종로구 내자동',
 '서울특별시 종로구 사직동',
 '서울특별시 종로구 도렴동',
 '서울특별시 종로구 당주동',
 '서울특별시 종로구 내수동',
 '서울특별시 종로구 세종로',
 '서울특별시 종로구 신문로1가',
 '서울특별시 종로구 신문로2가',
 '서울특별시 종로구 청진동',
 '서울특별시 종로구 서린동',
 '서울특별시 종로구 수송동',
 '서울특별시 종로구 중학동',
 '서울특별시 종로구 종로1가',
 '서울특별시 종로구 공평동',
 '서울특별시 종로구 관훈동',
 '서울특별시 종로구 견지동',
 '서울특별시 종로구 와룡동',
 '서울특별시 종로구 권농동',
 '서울특별시 종로구 운니동',
 '서울특별시 종로구 익선동',
 '서울특별시 종로구 경운동',
 '서울특별시 종로구 관철동',
 '서울특별시 종로구 인사동',
 '서울특별시 종로구 낙원동',
 '서울특별시 종로구 종로2가',
 '서울특별시 종로구 팔판동',
 '서울특별시 종로구 삼청동',
 '서울특별시 종로구 안국동',
 '서울특별시 종로구 소격동',
 '서울특별시 종로구 화동',
 '서울특별시 종로구 사간동',
 '서울특별시 종로구 송현동',
 '서울특별시 종로구 가회동',
 '서울특별시 종로구 재동',
 '서울특별시 종로구 계동',
 '서울특별시 종로구 원서동',
 '서울특별시 종로구 훈정동',
 '서울특별시 종로구 묘동',
 '서울특별시 종로구 봉익동',
 '서울특별시 종로구 돈의동',
 '서울특별시 종로구 장사동',
 '서울특별시 종로구 관수동',
 '서울특별시 종로구 종로3가',
 '서울특별시 종로구 인의동',
 '서울특별시 종로구 예지동',
 '서울특별시 종로구 원남동',
 '서울특별시 종로구 연지동',
 '서울특별시 종로구 종로4가',
 '서울특별시 종로구 효제동',
 '서울특별시 종로구 종로5가',
 '서울특별시 종로구 종로6가',
 '서울특별시 종로구 이화동',
 '서울특별시 종로구 연건동',
 '서울특별시 종로구 충신동',
 '서울특별시 종로구 동숭동',
 '서울특별시 종로구 혜화동',
 '서울특별시 종로구 명륜1가',
 '서울특별시 종로구 명륜2가',
 '서울특별시 종로구 명륜4가',
 '서울특별시 종로구 명륜3가',
 '서울특별시 종로구 창신동',
 '서울특별시 종로구 숭인동',
 '서울특별시 종로구 교남동',
 '서울특별시 종로구 평동',
 '서울특별시 종로구 송월동',
 '서울특별시 종로구 홍파동',
 '서울특별시 종로구 교북동',
 '서울특별시 종로구 행촌동',
 '서울특별시 종로구 구기동',
 '서울특별시 종로구 평창동',
 '서울특별시 종로구 부암동',
 '서울특별시 종로구 홍지동',
 '서울특별시 종로구 신영동',
 '서울특별시 종로구 무악동',
 '서울특별시 종로구 창신1동',
 '서울특별시 종로구 창신2동',
 '서울특별시 종로구 창신3동',
 '서울특별시 종로구 숭인1동',
 '서울특별시 종로구 숭인2동',
 '서울특별시 중구',
 '서울특별시 중구 동자동',
 '서울특별시 중구 도동1가',
 '서울특별시 중구 도동2가',
 '서울특별시 중구 양동',
 '서울특별시 중구 무교동',
 '서울특별시 중구 다동',
 '서울특별시 중구 태평로1가',
 '서울특별시 중구 을지로1가',
 '서울특별시 중구 을지로2가',
 '서울특별시 중구 남대문로1가',
 '서울특별시 중구 삼각동',
 '서울특별시 중구 수하동',
 '서울특별시 중구 장교동',
 '서울특별시 중구 수표동',
 '서울특별시 중구 소공동',
 '서울특별시 중구 남창동',
 '서울특별시 중구 북창동',
 '서울특별시 중구 태평로2가',
 '서울특별시 중구 남대문로2가',
 '서울특별시 중구 남대문로3가',
 '서울특별시 중구 남대문로4가',
 '서울특별시 중구 남대문로5가',
 '서울특별시 중구 봉래동1가',
 '서울특별시 중구 봉래동2가',
 '서울특별시 중구 회현동1가',
 '서울특별시 중구 회현동2가',
 '서울특별시 중구 회현동3가',
 '서울특별시 중구 충무로1가',
 '서울특별시 중구 충무로2가',
 '서울특별시 중구 명동1가',
 '서울특별시 중구 명동2가',
 '서울특별시 중구 남산동1가',
 '서울특별시 중구 남산동2가',
 '서울특별시 중구 남산동3가',
 '서울특별시 중구 저동1가',
 '서울특별시 중구 충무로4가',
 '서울특별시 중구 충무로5가',
 '서울특별시 중구 인현동2가',
 '서울특별시 중구 예관동',
 '서울특별시 중구 묵정동',
 '서울특별시 중구 필동1가',
 '서울특별시 중구 필동2가',
 '서울특별시 중구 필동3가',
 '서울특별시 중구 남학동',
 '서울특별시 중구 주자동',
 '서울특별시 중구 예장동',
 '서울특별시 중구 장충동1가',
 '서울특별시 중구 장충동2가',
 '서울특별시 중구 광희동1가',
 '서울특별시 중구 광희동2가',
 '서울특별시 중구 쌍림동',
 '서울특별시 중구 을지로6가',
 '서울특별시 중구 을지로7가',
 '서울특별시 중구 을지로4가',
 '서울특별시 중구 을지로5가',
 '서울특별시 중구 주교동',
 '서울특별시 중구 방산동',
 '서울특별시 중구 오장동',
 '서울특별시 중구 을지로3가',
 '서울특별시 중구 입정동',
 '서울특별시 중구 산림동',
 '서울특별시 중구 충무로3가',
 '서울특별시 중구 초동',
 '서울특별시 중구 인현동1가',
 '서울특별시 중구 저동2가',
 '서울특별시 중구 신당동',
 '서울특별시 중구 흥인동',
 '서울특별시 중구 무학동',
 '서울특별시 중구 황학동',
 '서울특별시 중구 서소문동',
 '서울특별시 중구 정동',
 '서울특별시 중구 순화동',
 '서울특별시 중구 의주로1가',
 '서울특별시 중구 충정로1가',
 '서울특별시 중구 중림동',
 '서울특별시 중구 의주로2가',
 '서울특별시 중구 만리동1가',
 '서울특별시 중구 만리동2가',
 '서울특별시 중구 신당1동',
 '서울특별시 중구 신당2동',
 '서울특별시 중구 신당3동',
 '서울특별시 중구 신당4동',
 '서울특별시 중구 신당5동',
 '서울특별시 중구 신당6동',
 '서울특별시 용산구',
 '서울특별시 용산구 옥수동',
 '서울특별시 용산구 도동1가',
 '서울특별시 용산구 도동2가',
 '서울특별시 용산구 만리동1가',
 '서울특별시 용산구 만리동2가',
 '서울특별시 용산구 후암동',
 '서울특별시 용산구 용산동2가',
 '서울특별시 용산구 용산동4가',
 '서울특별시 용산구 갈월동',
 '서울특별시 용산구 남영동',
 '서울특별시 용산구 용산동1가',
 '서울특별시 용산구 동자동',
 '서울특별시 용산구 서계동',
 '서울특별시 용산구 청파동1가',
 '서울특별시 용산구 청파동2가',
 '서울특별시 용산구 청파동3가',
 '서울특별시 용산구 원효로1가',
 '서울특별시 용산구 원효로2가',
 '서울특별시 용산구 신창동',
 '서울특별시 용산구 산천동',
 '서울특별시 용산구 청암동',
 '서울특별시 용산구 원효로3가',
 '서울특별시 용산구 원효로4가',
 '서울특별시 용산구 효창동',
 '서울특별시 용산구 도원동',
 '서울특별시 용산구 용문동',
 '서울특별시 용산구 문배동',
 '서울특별시 용산구 신계동',
 '서울특별시 용산구 한강로1가',
 '서울특별시 용산구 한강로2가',
 '서울특별시 용산구 용산동3가',
 '서울특별시 용산구 용산동5가',
 '서울특별시 용산구 한강로3가',
 '서울특별시 용산구 이촌동',
 '서울특별시 용산구 이태원동',
 '서울특별시 용산구 한남동',
 '서울특별시 용산구 동빙고동',
 '서울특별시 용산구 서빙고동',
 '서울특별시 용산구 주성동',
 '서울특별시 용산구 용산동6가',
 '서울특별시 용산구 보광동',
 '서울특별시 용산구 청파1동',
 '서울특별시 용산구 청파2동',
 '서울특별시 용산구 이촌1동',
 '서울특별시 용산구 이촌2동',
 '서울특별시 용산구 이태원1동',
 '서울특별시 용산구 이태원2동',
 '서울특별시 용산구 한남1동',
 '서울특별시 용산구 한남2동',
 '서울특별시 성동구',
 '서울특별시 성동구 상일동',
 '서울특별시 성동구 길동',
 '서울특별시 성동구 둔촌동',
 '서울특별시 성동구 암사동',
 '서울특별시 성동구 성내동',
 '서울특별시 성동구 풍납동',
 '서울특별시 성동구 천호동',
 '서울특별시 성동구 송파동',
 '서울특별시 성동구 석촌동',
 '서울특별시 성동구 삼전동',
 '서울특별시 성동구 가락동',
 '서울특별시 성동구 이동',
 '서울특별시 성동구 오금동',
 '서울특별시 성동구 방이동',
 '서울특별시 성동구 문정동',
 '서울특별시 성동구 장지동',
 '서울특별시 성동구 거여동',
 '서울특별시 성동구 마천동',
 '서울특별시 성동구 잠실동',
 '서울특별시 성동구 신천동',
 '서울특별시 성동구 일원동',
 '서울특별시 성동구 수서동',
 '서울특별시 성동구 자곡동',
 '서울특별시 성동구 율현동',
 '서울특별시 성동구 세곡동',
 '서울특별시 성동구 역삼동',
 '서울특별시 성동구 포이동',
 '서울특별시 성동구 개포동',
 '서울특별시 성동구 도곡동',
 '서울특별시 성동구 논현동',
 '서울특별시 성동구 신사동',
 '서울특별시 성동구 학동',
 '서울특별시 성동구 압구정동',
 '서울특별시 성동구 청담동',
 '서울특별시 성동구 삼성동',
 '서울특별시 성동구 대치동',
 '서울특별시 성동구 염곡동',
 '서울특별시 성동구 내곡동',
 '서울특별시 성동구 신원동',
 '서울특별시 성동구 반포동',
 '서울특별시 성동구 잠원동',
 '서울특별시 성동구 서초동',
 '서울특별시 성동구 양재동',
 '서울특별시 성동구 우면동',
 '서울특별시 성동구 원지동',
 '서울특별시 성동구 황학동',
 '서울특별시 성동구 무학동',
 '서울특별시 성동구 흥인동',
 '서울특별시 성동구 신당동',
 '서울특별시 성동구 용두동',
 '서울특별시 성동구 답십리동',
 '서울특별시 성동구 면목동',
 '서울특별시 성동구 금호동',
 '서울특별시 성동구 명일동',
 '서울특별시 성동구 하일동',
 '서울특별시 성동구 고덕동',
 '서울특별시 성동구 상왕십리동',
 '서울특별시 성동구 하왕십리동',
 '서울특별시 성동구 홍익동',
 '서울특별시 성동구 도선동',
 '서울특별시 성동구 마장동',
 '서울특별시 성동구 사근동',
 '서울특별시 성동구 행당동',
 '서울특별시 성동구 응봉동',
 '서울특별시 성동구 금호동1가',
 '서울특별시 성동구 금호동2가',
 '서울특별시 성동구 금호동3가',
 '서울특별시 성동구 금호동4가',
 '서울특별시 성동구 옥수동',
 '서울특별시 성동구 성수동1가',
 '서울특별시 성동구 성수동2가',
 '서울특별시 성동구 화양동',
 '서울특별시 성동구 모진동',
 '서울특별시 성동구 송정동',
 '서울특별시 성동구 군자동',
 '서울특별시 성동구 중곡동',
 '서울특별시 성동구 능동',
 '서울특별시 성동구 용답동',
 '서울특별시 성동구 광장동',
 '서울특별시 성동구 구의동',
 '서울특별시 성동구 자양동',
 '서울특별시 성동구 왕십리1동',
 '서울특별시 성동구 왕십리2동',
 '서울특별시 성동구 행당1동',
 '서울특별시 성동구 행당2동',
 '서울특별시 성동구 중곡1동',
 '서울특별시 성동구 중곡2동',
 '서울특별시 성동구 중곡3동',
 '서울특별시 성동구 중곡4동',
 '서울특별시 성동구 옥수1동',
 '서울특별시 성동구 옥수2동',
 '서울특별시 성동구 성수1가1동',
 '서울특별시 성동구 성수1가2동',
 '서울특별시 성동구 성수2가1동',
 '서울특별시 성동구 성수2가2동',
 '서울특별시 성동구 성수2가3동',
 '서울특별시 성동구 성수2가4동',
 '서울특별시 성동구 자양1동',
 '서울특별시 성동구 자양2동',
 '서울특별시 성동구 자양3동',
 '서울특별시 성동구 구의1동',
 '서울특별시 성동구 구의2동',
 '서울특별시 광진구',
 '서울특별시 광진구 중곡동',
 '서울특별시 광진구 능동',
 '서울특별시 광진구 구의동',
 '서울특별시 광진구 광장동',
 '서울특별시 광진구 자양동',
 '서울특별시 광진구 노유동',
 '서울특별시 광진구 화양동',
 '서울특별시 광진구 모진동',
 '서울특별시 광진구 군자동',
 '서울특별시 동대문구',
 '서울특별시 동대문구 면목동',
 '서울특별시 동대문구 상봉동',
 '서울특별시 동대문구 중화동',
 '서울특별시 동대문구 묵동',
 '서울특별시 동대문구 망우동',
 '서울특별시 동대문구 신내동',
 '서울특별시 동대문구 중곡동',
 '서울특별시 동대문구 능동',
 '서울특별시 동대문구 군자동',
 '서울특별시 동대문구 종암동',
 '서울특별시 동대문구 안암동4가',
 '서울특별시 동대문구 안암동5가',
 '서울특별시 동대문구 석관동',
 '서울특별시 동대문구 보문동1가',
 '서울특별시 동대문구 보문동2가',
 '서울특별시 동대문구 보문동3가',
 '서울특별시 동대문구 보문동4가',
 '서울특별시 동대문구 보문동5가',
 '서울특별시 동대문구 보문동6가',
 '서울특별시 동대문구 보문동7가',
 '서울특별시 동대문구 창신동',
 '서울특별시 동대문구 숭인동',
 '서울특별시 동대문구 신설동',
 '서울특별시 동대문구 용두동',
 '서울특별시 동대문구 제기동',
 '서울특별시 동대문구 전농동',
 '서울특별시 동대문구 답십리동',
 '서울특별시 동대문구 장안동',
 '서울특별시 동대문구 청량리동',
 '서울특별시 동대문구 회기동',
 '서울특별시 동대문구 휘경동',
 '서울특별시 동대문구 이문동',
 '서울특별시 동대문구 용두1동',
 '서울특별시 동대문구 용두2동',
 '서울특별시 동대문구 제기1동',
 '서울특별시 동대문구 제기2동',
 '서울특별시 동대문구 전농1동',
 '서울특별시 동대문구 전농2동',
 '서울특별시 동대문구 전농3동',
 '서울특별시 동대문구 전농4동',
 '서울특별시 동대문구 답십리1동',
 '서울특별시 동대문구 답십리2동',
 '서울특별시 동대문구 답십리3동',
 '서울특별시 동대문구 답십리4동',
 '서울특별시 동대문구 답십리5동',
 '서울특별시 동대문구 장안1동',
 '서울특별시 동대문구 장안2동',
 '서울특별시 동대문구 장안3동',
 '서울특별시 동대문구 장안4동',
 '서울특별시 동대문구 청량리1동',
 '서울특별시 동대문구 청량리2동',
 '서울특별시 동대문구 휘경1동',
 '서울특별시 동대문구 휘경2동',
 '서울특별시 동대문구 이문1동',
 '서울특별시 동대문구 이문2동',
 '서울특별시 동대문구 이문3동',
 '서울특별시 중랑구',
 '서울특별시 중랑구 면목동',
 '서울특별시 중랑구 상봉동',
 '서울특별시 중랑구 중화동',
 '서울특별시 중랑구 묵동',
 '서울특별시 중랑구 망우동',
 '서울특별시 중랑구 신내동',
 '서울특별시 중랑구 면목1동',
 '서울특별시 중랑구 면목2동',
 '서울특별시 중랑구 면목3동',
 '서울특별시 중랑구 면목4동',
 '서울특별시 중랑구 면목5동',
 '서울특별시 중랑구 면목6동',
 '서울특별시 중랑구 면목7동',
 '서울특별시 중랑구 상봉1동',
 '서울특별시 중랑구 상봉2동',
 '서울특별시 중랑구 중화1동',
 '서울특별시 중랑구 중화2동',
 '서울특별시 중랑구 묵1동',
 '서울특별시 중랑구 묵2동',
 '서울특별시 중랑구 망우1동',
 '서울특별시 중랑구 망우2동',
 '서울특별시 중랑구 망우3동',
 '서울특별시 성북구',
 '서울특별시 성북구 미아동',
 '서울특별시 성북구 번동',
 '서울특별시 성북구 수유동',
 '서울특별시 성북구 우이동',
 '서울특별시 성북구 창동',
 '서울특별시 성북구 월계동',
 '서울특별시 성북구 쌍문동',
 '서울특별시 성북구 공릉동',
 '서울특별시 성북구 하계동',
 '서울특별시 성북구 상계동',
 '서울특별시 성북구 중계동',
 '서울특별시 성북구 도봉동',
 '서울특별시 성북구 방학동',
 '서울특별시 성북구 성북동2가',
 '서울특별시 성북구 동소문동8가',
 '서울특별시 성북구 성북동',
 '서울특별시 성북구 성북동1가',
 '서울특별시 성북구 돈암동',
 '서울특별시 성북구 동소문동1가',
 '서울특별시 성북구 동소문동2가',
 '서울특별시 성북구 동소문동3가',
 '서울특별시 성북구 동소문동4가',
 '서울특별시 성북구 동소문동5가',
 '서울특별시 성북구 동소문동6가',
 '서울특별시 성북구 동소문동7가',
 '서울특별시 성북구 삼선동1가',
 '서울특별시 성북구 삼선동2가',
 '서울특별시 성북구 삼선동3가',
 '서울특별시 성북구 삼선동4가',
 '서울특별시 성북구 삼선동5가',
 '서울특별시 성북구 동선동1가',
 '서울특별시 성북구 동선동2가',
 '서울특별시 성북구 동선동3가',
 '서울특별시 성북구 동선동4가',
 '서울특별시 성북구 동선동5가',
 '서울특별시 성북구 안암동1가',
 '서울특별시 성북구 안암동2가',
 '서울특별시 성북구 안암동3가',
 '서울특별시 성북구 안암동4가',
 '서울특별시 성북구 안암동5가',
 '서울특별시 성북구 보문동4가',
 '서울특별시 성북구 보문동5가',
 '서울특별시 성북구 보문동6가',
 '서울특별시 성북구 보문동7가',
 '서울특별시 성북구 보문동1가',
 '서울특별시 성북구 보문동2가',
 '서울특별시 성북구 보문동3가',
 '서울특별시 성북구 정릉동',
 '서울특별시 성북구 길음동',
 '서울특별시 성북구 종암동',
 '서울특별시 성북구 하월곡동',
 '서울특별시 성북구 상월곡동',
 '서울특별시 성북구 장위동',
 '서울특별시 성북구 석관동',
 '서울특별시 성북구 성북1동',
 '서울특별시 성북구 성북2동',
 '서울특별시 성북구 삼선1동',
 '서울특별시 성북구 삼선2동',
 '서울특별시 성북구 동선1동',
 '서울특별시 성북구 동선2동',
 '서울특별시 성북구 돈암1동',
 '서울특별시 성북구 돈암2동',
 '서울특별시 성북구 정릉1동',
 '서울특별시 성북구 정릉2동',
 '서울특별시 성북구 정릉3동',
 '서울특별시 성북구 정릉4동',
 '서울특별시 성북구 길음1동',
 '서울특별시 성북구 길음2동',
 '서울특별시 성북구 길음3동',
 '서울특별시 성북구 종암1동',
 '서울특별시 성북구 종암2동',
 '서울특별시 성북구 하월곡1동',
 '서울특별시 성북구 하월곡2동',
 '서울특별시 성북구 하월곡3동',
 '서울특별시 성북구 하월곡4동',
 '서울특별시 성북구 장위1동',
 '서울특별시 성북구 장위2동',
 '서울특별시 성북구 장위3동',
 '서울특별시 성북구 석관1동',
 '서울특별시 성북구 석관2동',
 '서울특별시 강북구',
 '서울특별시 강북구 미아동',
 '서울특별시 강북구 번동',
 '서울특별시 강북구 수유동',
 '서울특별시 강북구 우이동',
 '서울특별시 도봉구',
 '서울특별시 도봉구 상계동',
 '서울특별시 도봉구 중계동',
 '서울특별시 도봉구 하계동',
 '서울특별시 도봉구 월계동',
 '서울특별시 도봉구 공릉동',
 '서울특별시 도봉구 미아동',
 '서울특별시 도봉구 번동',
 '서울특별시 도봉구 수유동',
 '서울특별시 도봉구 우이동',
 '서울특별시 도봉구 쌍문동',
 '서울특별시 도봉구 방학동',
 '서울특별시 도봉구 창동',
 '서울특별시 도봉구 도봉동',
 '서울특별시 도봉구 창1동',
 '서울특별시 도봉구 창2동',
 '서울특별시 도봉구 창3동',
 '서울특별시 도봉구 도봉1동',
 '서울특별시 도봉구 도봉2동',
 '서울특별시 도봉구 미아1동',
 '서울특별시 도봉구 미아2동',
 '서울특별시 도봉구 미아3동',
 '서울특별시 도봉구 미아4동',
 '서울특별시 도봉구 미아5동',
 '서울특별시 도봉구 미아6동',
 '서울특별시 도봉구 미아7동',
 '서울특별시 도봉구 미아8동',
 '서울특별시 도봉구 번1동',
 '서울특별시 도봉구 번2동',
 '서울특별시 도봉구 수유1동',
 '서울특별시 도봉구 수유2동',
 '서울특별시 도봉구 수유3동',
 '서울특별시 도봉구 수유4동',
 '서울특별시 도봉구 수유5동',
 '서울특별시 도봉구 쌍문1동',
 '서울특별시 도봉구 쌍문2동',
 '서울특별시 도봉구 쌍문3동',
 '서울특별시 도봉구 방학1동',
 '서울특별시 도봉구 방학2동',
 '서울특별시 도봉구 방학3동',
 '서울특별시 노원구',
 '서울특별시 노원구 창동',
 '서울특별시 노원구 월계동',
 '서울특별시 노원구 공릉동',
 '서울특별시 노원구 하계동',
 '서울특별시 노원구 상계동',
 '서울특별시 노원구 중계동',
 '서울특별시 노원구 도봉동',
 '서울특별시 노원구 도봉1동',
 '서울특별시 노원구 도봉2동',
 '서울특별시 노원구 창1동',
 '서울특별시 노원구 창2동',
 '서울특별시 노원구 창3동',
 '서울특별시 노원구 월계1동',
 '서울특별시 노원구 월계2동',
 '서울특별시 노원구 월계3동',
 '서울특별시 노원구 공릉1동',
 '서울특별시 노원구 공릉2동',
 '서울특별시 노원구 상계1동',
 '서울특별시 노원구 상계2동',
 '서울특별시 노원구 상계3동',
 '서울특별시 노원구 상계4동',
 '서울특별시 노원구 상계5동',
 '서울특별시 노원구 상계6동',
 '서울특별시 노원구 상계7동',
 '서울특별시 은평구',
 '서울특별시 은평구 수색동',
 '서울특별시 은평구 녹번동',
 '서울특별시 은평구 불광동',
 '서울특별시 은평구 갈현동',
 '서울특별시 은평구 구산동',
 '서울특별시 은평구 대조동',
 '서울특별시 은평구 응암동',
 '서울특별시 은평구 역촌동',
 '서울특별시 은평구 신사동',
 '서울특별시 은평구 증산동',
 '서울특별시 은평구 진관내동',
 '서울특별시 은평구 구파발동',
 '서울특별시 은평구 진관외동',
 '서울특별시 은평구 진관동',
 '서울특별시 은평구 불광1동',
 '서울특별시 은평구 불광2동',
 '서울특별시 은평구 불광3동',
 '서울특별시 은평구 응암1동',
 '서울특별시 은평구 응암2동',
 '서울특별시 은평구 응암3동',
 '서울특별시 은평구 역촌1동',
 '서울특별시 은평구 역촌2동',
 '서울특별시 은평구 응암4동',
 '서울특별시 서대문구',
 '서울특별시 서대문구 평창동',
 '서울특별시 서대문구 구기동',
 '서울특별시 서대문구 부암동',
 '서울특별시 서대문구 홍지동',
 '서울특별시 서대문구 신영동',
 '서울특별시 서대문구 행촌동',
 '서울특별시 서대문구 송월동',
 '서울특별시 서대문구 홍파동',
 '서울특별시 서대문구 평동',
 '서울특별시 서대문구 교남동',
 '서울특별시 서대문구 교북동',
 '서울특별시 서대문구 서소문동',
 '서울특별시 서대문구 정동',
 '서울특별시 서대문구 순화동',
 '서울특별시 서대문구 의주로2가',
 '서울특별시 서대문구 중림동',
 '서울특별시 서대문구 의주로1가',
 '서울특별시 서대문구 충정로1가',
 '서울특별시 서대문구 노고산동',
 '서울특별시 서대문구 만리동1가',
 '서울특별시 서대문구 만리동2가',
 '서울특별시 서대문구 상암동',
 '서울특별시 서대문구 성산동',
 '서울특별시 서대문구 수색동',
 '서울특별시 서대문구 중동',
 '서울특별시 서대문구 녹번동',
 '서울특별시 서대문구 불광동',
 '서울특별시 서대문구 갈현동',
 '서울특별시 서대문구 역촌동',
 '서울특별시 서대문구 신사동',
 '서울특별시 서대문구 구파발동',
 '서울특별시 서대문구 구산동',
 '서울특별시 서대문구 진관내동',
 '서울특별시 서대문구 진관외동',
 '서울특별시 서대문구 응암동',
 '서울특별시 서대문구 대조동',
 '서울특별시 서대문구 증산동',
 '서울특별시 서대문구 충정로2가',
 '서울특별시 서대문구 충정로3가',
 '서울특별시 서대문구 합동',
 '서울특별시 서대문구 미근동',
 '서울특별시 서대문구 냉천동',
 '서울특별시 서대문구 천연동',
 '서울특별시 서대문구 옥천동',
 '서울특별시 서대문구 영천동',
 '서울특별시 서대문구 현저동',
 '서울특별시 서대문구 북아현동',
 '서울특별시 서대문구 홍제동',
 '서울특별시 서대문구 대현동',
 '서울특별시 서대문구 대신동',
 '서울특별시 서대문구 신촌동',
 '서울특별시 서대문구 봉원동',
 '서울특별시 서대문구 창천동',
 '서울특별시 서대문구 연희동',
 '서울특별시 서대문구 홍은동',
 '서울특별시 서대문구 북가좌동',
 '서울특별시 서대문구 남가좌동',
 '서울특별시 서대문구 충정로동',
 '서울특별시 서대문구 북아현1동',
 '서울특별시 서대문구 북아현2동',
 '서울특별시 서대문구 북아현3동',
 '서울특별시 서대문구 연희1동',
 '서울특별시 서대문구 연희2동',
 '서울특별시 서대문구 연희3동',
 '서울특별시 서대문구 홍제1동',
 '서울특별시 서대문구 홍제2동',
 '서울특별시 서대문구 홍제3동',
 '서울특별시 서대문구 홍제4동',
 '서울특별시 서대문구 홍은1동',
 '서울특별시 서대문구 홍은2동',
 '서울특별시 서대문구 홍은3동',
 '서울특별시 서대문구 남가좌1동',
 '서울특별시 서대문구 남가좌2동',
 '서울특별시 서대문구 북가좌1동',
 '서울특별시 서대문구 북가좌1동',
 '서울특별시 마포구',
 '서울특별시 마포구 연희동',
 '서울특별시 마포구 남가좌동',
 '서울특별시 마포구 수색동',
 '서울특별시 마포구 율도동',
 '서울특별시 마포구 아현동',
 '서울특별시 마포구 공덕동',
 '서울특별시 마포구 신공덕동',
 '서울특별시 마포구 도화동',
 '서울특별시 마포구 용강동',
 '서울특별시 마포구 토정동',
 '서울특별시 마포구 마포동',
 '서울특별시 마포구 대흥동',
 '서울특별시 마포구 염리동',
 '서울특별시 마포구 노고산동',
 '서울특별시 마포구 신수동',
 '서울특별시 마포구 현석동',
 '서울특별시 마포구 구수동',
 '서울특별시 마포구 창전동',
 '서울특별시 마포구 상수동',
 '서울특별시 마포구 하중동',
 '서울특별시 마포구 신정동',
 '서울특별시 마포구 당인동',
 '서울특별시 마포구 하수동',
 '서울특별시 마포구 서교동',
 '서울특별시 마포구 동교동',
 '서울특별시 마포구 합정동',
 '서울특별시 마포구 망원동',
 '서울특별시 마포구 연남동',
 '서울특별시 마포구 성산동',
 '서울특별시 마포구 중동',
 '서울특별시 마포구 상암동',
 '서울특별시 마포구 아현1동',
 '서울특별시 마포구 아현2동',
 '서울특별시 마포구 아현3동',
 '서울특별시 마포구 공덕1동',
 '서울특별시 마포구 공덕2동',
 '서울특별시 마포구 도화1동',
 '서울특별시 마포구 도화2동',
 '서울특별시 마포구 망원1동',
 '서울특별시 마포구 망원2동',
 '서울특별시 마포구 성산1동',
 '서울특별시 마포구 성산2동',
 '서울특별시 양천구',
 '서울특별시 양천구 신정동',
 '서울특별시 양천구 목동',
 '서울특별시 양천구 신월동',
 '서울특별시 양천구 목1동',
 '서울특별시 양천구 목2동',
 '서울특별시 양천구 목3동',
 '서울특별시 양천구 목4동',
 '서울특별시 양천구 목5동',
 '서울특별시 양천구 신월1동',
 '서울특별시 양천구 신월2동',
 '서울특별시 양천구 신월3동',
 '서울특별시 양천구 신월4동',
 '서울특별시 양천구 신월5동',
 '서울특별시 양천구 신월6동',
 '서울특별시 양천구 신정1동',
 '서울특별시 양천구 신정2동',
 '서울특별시 양천구 신정3동',
 '서울특별시 양천구 신정4동',
 '서울특별시 양천구 신정5동',
 '서울특별시 양천구 신정6동',
 '서울특별시 강서구',
 '서울특별시 강서구 신정동',
 '서울특별시 강서구 신월동',
 '서울특별시 강서구 염창동',
 '서울특별시 강서구 등촌동',
 '서울특별시 강서구 화곡동',
 '서울특별시 강서구 가양동',
 '서울특별시 강서구 마곡동',
 '서울특별시 강서구 내발산동',
 '서울특별시 강서구 외발산동',
 '서울특별시 강서구 공항동',
 '서울특별시 강서구 방화동',
 '서울특별시 강서구 개화동',
 '서울특별시 강서구 과해동',
 '서울특별시 강서구 오곡동',
 '서울특별시 강서구 오쇠동',
 '서울특별시 강서구 목동',
 '서울특별시 강서구 등촌1동',
 '서울특별시 강서구 등촌2동',
 '서울특별시 강서구 화곡1동',
 '서울특별시 강서구 화곡2동',
 '서울특별시 강서구 화곡3동',
 '서울특별시 강서구 화곡4동',
 '서울특별시 강서구 화곡5동',
 '서울특별시 강서구 화곡본동',
 '서울특별시 강서구 발산동',
 '서울특별시 강서구 방화1동',
 '서울특별시 강서구 방화2동',
 '서울특별시 구로구',
 '서울특별시 구로구 신도림동',
 '서울특별시 구로구 구로동',
 '서울특별시 구로구 가리봉동',
 '서울특별시 구로구 독산동',
 '서울특별시 구로구 시흥동',
 '서울특별시 구로구 고척동',
 '서울특별시 구로구 개봉동',
 '서울특별시 구로구 오류동',
 '서울특별시 구로구 궁동',
 '서울특별시 구로구 온수동',
 '서울특별시 구로구 천왕동',
 '서울특별시 구로구 항동',
 '서울특별시 구로구 구로1동',
 '서울특별시 구로구 구로2동',
 '서울특별시 구로구 구로3동',
 '서울특별시 구로구 구로4동',
 '서울특별시 구로구 구로5동',
 '서울특별시 구로구 구로6동',
 '서울특별시 구로구 가리봉1동',
 '서울특별시 구로구 가리봉2동',
 '서울특별시 구로구 가리봉3동',
 '서울특별시 구로구 독산1동',
 '서울특별시 구로구 독산2동',
 '서울특별시 구로구 독산3동',
 '서울특별시 구로구 독산4동',
 '서울특별시 구로구 독산본동',
 '서울특별시 구로구 시흥본동',
 '서울특별시 구로구 시흥1동',
 '서울특별시 구로구 시흥2동',
 '서울특별시 구로구 시흥3동',
 '서울특별시 구로구 시흥4동',
 '서울특별시 구로구 시흥5동',
 '서울특별시 구로구 고척1동',
 '서울특별시 구로구 고척2동',
 '서울특별시 구로구 개봉1동',
 '서울특별시 구로구 개봉2동',
 '서울특별시 구로구 개봉3동',
 '서울특별시 구로구 오류1동',
 '서울특별시 구로구 오류2동',
 '서울특별시 구로구 수궁동',
 '서울특별시 금천구',
 '서울특별시 금천구 가산동',
 '서울특별시 금천구 독산동',
 '서울특별시 금천구 시흥동',
 '서울특별시 영등포구',
 '서울특별시 영등포구 독산동',
 '서울특별시 영등포구 염창동',
 '서울특별시 영등포구 목동',
 '서울특별시 영등포구 등촌동',
 '서울특별시 영등포구 화곡동',
 '서울특별시 영등포구 신월동',
 '서울특별시 영등포구 마곡동',
 '서울특별시 영등포구 가양동',
 '서울특별시 영등포구 내발산동',
 '서울특별시 영등포구 외발산동',
 '서울특별시 영등포구 공항동',
 '서울특별시 영등포구 방화동',
 '서울특별시 영등포구 과해동',
 '서울특별시 영등포구 신정동',
 '서울특별시 영등포구 오곡동',
 '서울특별시 영등포구 오쇠동',
 '서울특별시 영등포구 구로동',
 '서울특별시 영등포구 가리봉동',
 '서울특별시 영등포구 시흥동',
 '서울특별시 영등포구 고척동',
 '서울특별시 영등포구 개봉동',
 '서울특별시 영등포구 오류동',
 '서울특별시 영등포구 궁동',
 '서울특별시 영등포구 온수동',
 '서울특별시 영등포구 천왕동',
 '서울특별시 영등포구 항동',
 '서울특별시 영등포구 신도림동',
 '서울특별시 영등포구 개화동',
 '서울특별시 영등포구 반포동',
 '서울특별시 영등포구 잠원동',
 '서울특별시 영등포구 서초동',
 '서울특별시 영등포구 양재동',
 '서울특별시 영등포구 우면동',
 '서울특별시 영등포구 원지동',
 '서울특별시 영등포구 노량진동',
 '서울특별시 영등포구 상도동',
 '서울특별시 영등포구 상도제1동',
 '서울특별시 영등포구 봉천동',
 '서울특별시 영등포구 본동',
 '서울특별시 영등포구 흑석동',
 '서울특별시 영등포구 동작동',
 '서울특별시 영등포구 사당동',
 '서울특별시 영등포구 방배동',
 '서울특별시 영등포구 신림동',
 '서울특별시 영등포구 대방동',
 '서울특별시 영등포구 신대방동',
 '서울특별시 영등포구 양평동',
 '서울특별시 영등포구 영등포동',
 '서울특별시 영등포구 영등포동1가',
 '서울특별시 영등포구 영등포동2가',
 '서울특별시 영등포구 영등포동3가',
 '서울특별시 영등포구 영등포동4가',
 '서울특별시 영등포구 영등포동5가',
 '서울특별시 영등포구 영등포동6가',
 '서울특별시 영등포구 영등포동7가',
 '서울특별시 영등포구 영등포동8가',
 '서울특별시 영등포구 여의도동',
 '서울특별시 영등포구 당산동1가',
 '서울특별시 영등포구 당산동2가',
 '서울특별시 영등포구 당산동3가',
 '서울특별시 영등포구 당산동4가',
 '서울특별시 영등포구 당산동5가',
 '서울특별시 영등포구 당산동6가',
 '서울특별시 영등포구 당산동',
 '서울특별시 영등포구 도림동',
 '서울특별시 영등포구 문래동1가',
 '서울특별시 영등포구 문래동2가',
 '서울특별시 영등포구 문래동3가',
 '서울특별시 영등포구 문래동4가',
 '서울특별시 영등포구 문래동5가',
 '서울특별시 영등포구 문래동6가',
 '서울특별시 영등포구 양평동1가',
 '서울특별시 영등포구 양평동2가',
 '서울특별시 영등포구 양평동3가',
 '서울특별시 영등포구 양평동4가',
 '서울특별시 영등포구 양평동5가',
 '서울특별시 영등포구 양평동6가',
 '서울특별시 영등포구 양화동',
 '서울특별시 영등포구 신길동',
 '서울특별시 영등포구 대림동',
 '서울특별시 영등포구 양평동',
 '서울특별시 영등포구 영등포1동',
 '서울특별시 영등포구 영등포2동',
 '서울특별시 영등포구 영등포3동',
 '서울특별시 영등포구 당산1동',
 '서울특별시 영등포구 당산2동',
 '서울특별시 영등포구 도림1동',
 '서울특별시 영등포구 도림2동',
 '서울특별시 영등포구 문래1동',
 '서울특별시 영등포구 문래2동',
 '서울특별시 영등포구 양평1동',
 '서울특별시 영등포구 양평2동',
 '서울특별시 영등포구 신길1동',
 '서울특별시 영등포구 신길2동',
 '서울특별시 영등포구 신길3동',
 '서울특별시 영등포구 신길4동',
 '서울특별시 영등포구 신길5동',
 '서울특별시 영등포구 신길6동',
 '서울특별시 영등포구 신길7동',
 '서울특별시 영등포구 대림1동',
 '서울특별시 영등포구 대림2동',
 '서울특별시 영등포구 대림3동',
 '서울특별시 동작구',
 '서울특별시 동작구 노량진동',
 '서울특별시 동작구 상도동',
 '서울특별시 동작구 상도1동',
 '서울특별시 동작구 본동',
 '서울특별시 동작구 흑석동',
 '서울특별시 동작구 동작동',
 '서울특별시 동작구 사당동',
 '서울특별시 동작구 대방동',
 '서울특별시 동작구 신대방동',
 '서울특별시 동작구 노량진1동',
 '서울특별시 동작구 노량진2동',
 '서울특별시 동작구 상도2동',
 '서울특별시 동작구 상도3동',
 '서울특별시 동작구 상도4동',
 '서울특별시 동작구 흑석1동',
 '서울특별시 동작구 흑석2동',
 '서울특별시 동작구 흑석3동',
 '서울특별시 동작구 사당1동',
 '서울특별시 동작구 사당2동',
 '서울특별시 동작구 사당3동',
 '서울특별시 동작구 사당4동',
 '서울특별시 동작구 신대방1동',
 '서울특별시 동작구 신대방2동',
 '서울특별시 관악구',
 '서울특별시 관악구 대방동',
 '서울특별시 관악구 신대방동',
 '서울특별시 관악구 노량진동',
 '서울특별시 관악구 상도동',
 '서울특별시 관악구 본동',
 '서울특별시 관악구 흑석동',
 '서울특별시 관악구 동작동',
 '서울특별시 관악구 사당동',
 '서울특별시 관악구 방배동',
 '서울특별시 관악구 상도제1동',
 '서울특별시 관악구 봉천동',
 '서울특별시 관악구 신림동',
 '서울특별시 관악구 남현동',
 '서울특별시 관악구 봉천본동',
 '서울특별시 관악구 봉천1동',
 '서울특별시 관악구 봉천2동',
 '서울특별시 관악구 봉천3동',
 '서울특별시 관악구 봉천4동',
 '서울특별시 관악구 봉천5동',
 '서울특별시 관악구 봉천6동',
 '서울특별시 관악구 봉천7동',
 '서울특별시 관악구 봉천8동',
 '서울특별시 관악구 봉천9동',
 '서울특별시 관악구 봉천10동',
 '서울특별시 관악구 봉천11동',
 '서울특별시 관악구 신림본동',
 '서울특별시 관악구 신림1동',
 '서울특별시 관악구 신림2동',
 '서울특별시 관악구 신림3동',
 '서울특별시 관악구 신림4동',
 '서울특별시 관악구 신림5동',
 '서울특별시 관악구 신림6동',
 '서울특별시 관악구 신림7동',
 '서울특별시 관악구 신림8동',
 '서울특별시 관악구 신림9동',
 '서울특별시 관악구 신림10동',
 '서울특별시 관악구 신림11동',
 '서울특별시 서초구',
 '서울특별시 서초구 개포동',
 '서울특별시 서초구 방배동',
 '서울특별시 서초구 양재동',
 '서울특별시 서초구 우면동',
 '서울특별시 서초구 원지동',
 '서울특별시 서초구 도곡동',
 '서울특별시 서초구 잠원동',
 '서울특별시 서초구 반포동',
 '서울특별시 서초구 서초동',
 '서울특별시 서초구 내곡동',
 '서울특별시 서초구 염곡동',
 '서울특별시 서초구 신원동',
 '서울특별시 서초구 역삼동',
 '서울특별시 서초구 신사동',
 '서울특별시 서초구 서초1동',
 '서울특별시 서초구 서초2동',
 '서울특별시 서초구 서초3동',
 '서울특별시 서초구 반포본동',
 '서울특별시 서초구 반포1동',
 '서울특별시 서초구 반포2동',
 '서울특별시 서초구 반포3동',
 '서울특별시 서초구 방배본동',
 '서울특별시 서초구 방배1동',
 '서울특별시 서초구 방배2동',
 ...]

 1) 열의 개수와 행의 개수가 각각 5개 이상이고, 데이터는 10에서 99까지 임의의
     정수인 데이터프레임을 만드세요.

  2) 열의 이름은 V, W, X, Y, Z 이고 행의 이름은 a, b, c, d, e 으로 만든다.

  3) 정 가운데에 있는 데이터를 인덱싱하려고 한다. 
     10개 이상의 방법으로 인덱싱하세요.

In [25]:
#  1) 열의 개수와 행의 개수가 각각 5개 이상이고, 데이터는 10에서 99까지 임의 정수인 데이터프레임을 만드세요.
# 2) 열의 이름은 V, W, X, Y, Z 이고 행의 이름은 a, b, c, d, e 으로 만든다.
df = pd.DataFrame(
    np.random.randint(10, 100, size=(5, 5)),       
    columns=list('VWXYZ'), index=list('abcde')
)
df

    V   W   X   Y   Z
a  45  48  91  42  40
b  96  26  90  41  84
c  58  31  42  69  66
d  67  69  28  87  50
e  66  78  76  76  39

In [26]:
# 2) 가운데값 출력_열 기준
df.X.c, df.X['c'], df['X']['c'], df['X'].c, df.X[2], df['X'][2]

# 가운데값 출력_[:]_행 기준
df[2:3]['X'][0], df[2:3].X[0], df[-3:]['X'][0], df[:]['X'][2]

(42, 42, 42, 42)

In [27]:
# 가운데값 출력 _loc_행기준
df.loc['c','X'], df.loc['c']['X'], df.loc['c'].X, df.loc['c'][2]

# 가운데값 출력 _iloc_행기준
df.iloc[2,2], df.iloc[2][2], df.iloc[2]['X'], df.iloc[2].X

(42, 42, 42, 42)

In [28]:
# 각 행, 열의 합계
# 열방향(행의 합계)_'총점' 열 생성
# '평균' 열 새로 만들기
# '평균2'열 만들기(다른 방법)
# 행 추가 방법(행 추가는 잘 쓰이지 않음)

df.sum(axis=1)

a    266
b    337
c    266
d    301
e    335
dtype: int64

In [29]:
import seaborn as sns
tt = sns.load_dataset('titanic')
tt.head(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

In [30]:
# 1) 결측치를 찾아서 결측치를 제거 또는 대체하고, 그 이유를 간단히 적으세요.
tt.isna().sum()
tt.isna().sum().sum()

# 'deck'열: 열 전체 제거(결측치가 너무 많아 비정상 데이터로 판단)
tt.drop(columns=['deck'], inplace=True)

# 'age'열: 평균값으로 대체하여 사용(결측치가 전체의 20%정도이므로 양호함)
tt.age.fillna(tt.age.mean().round(2), inplace=True)

# 'embarked'열: 최빈값으로 대체(결측치 값이 매우 적어서 대체해도 영향력 거의 없음 흔한 값으로 대체)
tt.embarked.value_counts()
tt.embarked.fillna('S', inplace=True)
# tt.embarked.value_counts()

# embark_town열: 결측치가 있는 행 전체를 삭제(해당 행 전체가 결측치임)
tt.dropna(subset=['embark_town'], inplace=True)
# tt.isna().sum().sum()


tt.isna().sum().sum(), tt.shape

(0, (889, 14))

In [31]:
# 2) 나이의 결측치를 중앙값으로 대체한 후 qcut을 이용하여 나이에 따라 3개의 그룹으로 나누세요.
tt.age.fillna(tt.age.median(), inplace=True)

bins = [1, 20, 50, 100]     # 기준 입력_  1 < 미성년자 <= 20
labels = ["미성년자", "청중년", "장노년"]
cats = pd.cut(age, bins, labels=labels)
cats


tt = pd.DataFrame(ages, columns=["ages"])
tt["age_cat"] = pd.cut(tt.ages, bins, labels=labels)
tt

tt['cats'] = pd.qcut(ages, 3, labels=['Q1', 'Q2','Q3'])
tt

NameError: name 'age' is not defined

In [ ]:
# 3) 성별과 embark_town에 따른 생존율을 구하세요.
tt.pivot_table('survived', 'sex', 'embark_town')

NameError: name 'tt' is not defined

In [33]:
# 4) 타이타닉 탑승객의 성별에 따른 평균 나이를 구하세요.
tt[tt.sex == 'female'].age.mean().round(2)

# 4) 타이타닉 탑승객의 성별에 따른 평균 나이를 구하세요.(pivot)
tt.pivot_table('age', 'sex')

              age
sex
female  28.077244
male    30.506014