```titanic데이터로 연습```

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# 1) embark_town, sex별 생존률

In [ ]:
# 2) age의 displot